albumentations==1.4.13
diffusers==0.30.3
huggingface_hub==0.24.5
numpy==2.1.3
openai==1.56.2
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
open_clip_torch
ftfy
pandas==2.2.3
Pillow==11.0.0
PyYAML==6.0.2
regex
Requests==2.32.3
scikit_learn==1.5.2
scipy==1.14.1
torch
torchvision
tqdm==4.66.5
transformers==4.44.2
git+https://github.com/openai/CLIP.git
